<h2>Edit User</h2>

<%= if(@current_user && @current_user.admin) do
   render "form1.html", Map.put(assigns, :action, user_path(@conn, :update, @user))
 else
   render "form.html", Map.put(assigns, :action, user_path(@conn, :update, @user))
 end
   %>


<span><%= link "Back", to: task_path(@conn, :index) %></span>
