<h2>Edit TimeBlock</h2>

<%= render "form.html", Map.put(assigns, :action, time_block_path(@conn, :update1, @time)) %>

<span><%= link "Back", to: time_block_path(@conn, :editblock, @current_task) %></span>
